nav {
    margin: 0;
}

a {
    color: #4aaaa5;
}

/* Profile Page */
.card-img-top {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
}

.card-title {
    margin-top: 10%;
}

/* Portfolio Page */
.work:nth-child(even) {
    margin-left: 30px;
    margin-right: 30px;
}

.work img {
    box-shadow: 1px 1px #333333 spread;
}

.work h3 {
    bottom: 50px;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px #333333;
    background: transparent;
}

/* Contact Form */
.jumbotron {
    margin-top: 2rem;
}

/* #exampleInputMessage1 {
    height: 200px;
} */

.btn-primary {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

